<!Doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Search Frenzy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body ng-app="myApp" ng-controller="puzzleCtrl">
        <h1>Search Frenzy</h1>
        <div class="puzzle">
        <div ng-repeat="row in puzzle track by $index">
            
            <button class="btn" ng-repeat="letter in row track by $index" ng-click="add($parent.$index, $index,letter)">{{letter}}</button>
        </div>
        <ul>
            <li ng-repeat="word in words">{{word}}</li>
        </ul>
        </div>
        
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
        <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
        <script src="wordfind.js"></script> 
        <script src="app.js"></script>
    </body>
</html>